:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

arcgis-web-map {
  height: 600px;
  width: 100%;
  display: block;
}
